/* This file is for your main application css. */

.form-group {
    position: relative;
    margin-bottom: 37px;
}

.help-block {
    color: red;
    text-transform: capitalize;
    position: absolute;
    top: 40px;
}